@import '../App.css';

/* header contianer padding  */
.header-container{
    padding: 5rem;
}

/* header font color */
.hero-h1{
    color: var(--secondary-color1);
}

/* main sub-header font */
.hero-p{
    font-size: 18px;
    color: var(--secondary-color1);
}

/* for mobile */
@media screen and (max-width: 480px) {
    .hero-p{
        font-size: 16px;
    }
    .header-container{
        padding: 1rem;
    }
}